[DATABASE_CONFIG]

db2_src_path=/DB_Util/db_util_operations/execute_db2_scripts
db2_dest_path=/home/db2inst1
db2_password = Admin@123123123
db2_directory_path = /home/db2inst1/execute_db2_scripts/*
db2_force_drop_db_script = /home/db2inst1/execute_db2_scripts/forceDropDB.sh
db2_create_db_script = /home/db2inst1/execute_db2_scripts/silent-pre-req-auto-dbs.sh
db2_createICNDB = /opt/ibm-cp-automation/scripts/cp4ba-prerequisites/dbscript/ban/db2/db2/createICNDB.sql
db2_createGCDDB = /opt/ibm-cp-automation/scripts/cp4ba-prerequisites/dbscript/fncm/db2/db2/createGCDDB.sql
db2_createOS1DB = /opt/ibm-cp-automation/scripts/cp4ba-prerequisites/dbscript/fncm/db2/db2/createOS1DB.sql

postgres_src_path =/DB_Util/db_util_operations/execute_postgres_scripts
postgres_dest_path = /pgsqldata
postgres_user = postgres
postgres_password = Admin@123123123
postgres_database_server = 

mssql_src_path =/DB_Util/db_util_operations/execute_mssql_scripts 
mssql_uid = cpeadmin
mssql_password = Password@1
mssql_createGCDDB=/opt/ibm-cp-automation/scripts/cp4ba-prerequisites/dbscript/fncm/sqlserver/mssql/createGCDDB.sql
mssql_createOS1DB=/opt/ibm-cp-automation/scripts/cp4ba-prerequisites/dbscript/fncm/sqlserver/mssql/createOS1DB.sql
mssql_createICNDB=/opt/ibm-cp-automation/scripts/cp4ba-prerequisites/dbscript/ban/sqlserver/mssql/createICNDB.sql
mssql_install_drivers_script_file=/opt/Cp4ba-Automation/cp4ba_proddeploy_automation/utils/db_operations/execute_mssql_scripts/installDrivers.sh

oracle_src_path =/DB_Util/db_util_operations/execute_oracle_scripts
oracle_scripts_path=
oracle_server=oracle19svl1.fyre.ibm.com
oracle_dest_path=/home/oracle
oracle_password=Admin@123123123
oracle_login_user=sys
oracle_login_password=Psiadmin1
oracle_port=2484
oracle_service_name=ORCLPDB1
oracle_execute_GCDDB=/home/oracle/execute_oracle_scripts/createGCDDB.sql
oracle_execute_ICNDB=/home/oracle/execute_oracle_scripts/createICNDB.sql
oracle_execute_OS1DB=/home/oracle/execute_oracle_scripts/createOS1DB.sql

[COMMON_CONFIG]

GCD_DB_NAME=
OS1_DB_NAME=
ICN_DB_NAME=
dbscript_dir_path=