[PREREQUISITES]
ACCEPT_LICENSE=Yes
CONFIGURE_LDAP=Yes
MSAD_LDAP_USER=Testa1SpecialChar$
SDS_LDAP_USER=group0001usr0001
DEPLOYMENT_PROFILE=1
IS_IAM_ADMIN_DEFAULT=Yes

## 1) Microsoft Active Directory
## 2) IBM Tivoli Directory Server / Security Directory Server
LDAP_TYPE=1

## The project name 
PROJECT_NAME=bai

CLONE_FOLDER=/opt/ibm-bai-automation/
SCRIPT_FOLDER=/opt/ibm-bai-automation/scripts/
PROPERTY_FOLDER=/opt/ibm-bai-automation/scripts/bai-prerequisites/propertyfile/
PREREQ_FOLDER=/opt/ibm-bai-automation/scripts/bai-prerequisites/
CLONE_REPO=
SAPLIBS=http://9.30.27.94:8888/saplibs.zip
GENERATED_CR=/opt/ibm-bai-automation/scripts/generated-cr/
OPERAND_NAMESPACE=operands
STORAGE_NAME=managed-nfs-storage

[CLUSTER_ADMIN_SETUP]
CLOUD_PLATFORM = 2
DEPLOYMENT_MODE = 1
DEPLOYMENT_TYPE = 2
PRIVATE_CATALOG = yes
NAMESPACE = bai
ENTITLEMENT_KEY_EXISTS = YES
ENTITLEMENT_KEY= 

[BAI_STANDALONE]
BAI_STANDALONE.BAI_LICENSE="production"


[LDAP_MSAD]
###########################
## Property file for AD ##
###########################

## The name of the LDAP server to connect
LDAP_SERVER="testa1.fyre.ibm.com"

## The port of the LDAP server to connect.  Some possible values are: 389, 636, etc.
LDAP_PORT="636"

## The LDAP base DN.  For example, "dc=example,dc=com", "dc=abc,dc=com", etc
LDAP_BASE_DN="DC=testa1,DC=fyre,DC=ibm,DC=COM"

## The LDAP bind DN. For example, "uid=user1,dc=example,dc=com", "uid=user1,dc=abc,dc=com", etc.
LDAP_BIND_DN="CN=Testa1SpecialChar$,OU=testa1OU,DC=testa1,DC=fyre,DC=ibm,DC=com"

## The password for LDAP bind DN.
LDAP_BIND_DN_PASSWORD="Filenet1Filenet1!"

## The LDAP group base DN.  For example, "dc=example,dc=com", "dc=abc,dc=com", etc
LDAP_GROUP_BASE_DN="DC=testa1,DC=fyre,DC=ibm,DC=COM"


[LC_MSAD]
## This is the Global Catalog host for the LDAP
LC_AD_GC_HOST=""

## This is the Global Catalog port for the LDAP
LC_AD_GC_PORT=""

[LDAP_SDS]
###########################
## Property file for TDS ##
###########################

## The name of the LDAP server to connect
LDAP_SERVER="seepage1.fyre.ibm.com"

## The port of the LDAP server to connect.  Some possible values are: 389, 636, etc.
LDAP_PORT="636"

## The LDAP base DN.  For example, "dc=example,dc=com", "dc=abc,dc=com", etc
LDAP_BASE_DN="DC=EXAMPLE,DC=COM"

## The LDAP bind DN. For example, "uid=user1,dc=example,dc=com", "uid=user1,dc=abc,dc=com", etc.
LDAP_BIND_DN="cn=group0001usr0001,DC=EXAMPLE,DC=COM"

## The password for LDAP bind DN.
LDAP_BIND_DN_PASSWORD="passw0rd"

## The LDAP group base DN.  For example, "dc=example,dc=com", "dc=abc,dc=com", etc
LDAP_GROUP_BASE_DN="DC=EXAMPLE,DC=COM"

[FNCM_ANISBLE_PLATFORM]
url=https://fncm-aap-pipeline-2.fyre.ibm.com:443/eda-event-streams/api/eda/v1/external_event_stream/65d12a87-5f20-44ed-9285-3ecd672a7616/post/
username=admin
password=password

[CLUSTER_SETUP]
username=dbauser
password=Password1